# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Fabric Binaries
national-health-record-ledger/bin/

# Fabric Crypto Material & Config
national-health-record-ledger/crypto-config/
national-health-record-ledger/scripts/crypto-config/
national-health-record-ledger/config/
!national-health-record-ledger/config/core.yaml
!national-health-record-ledger/config/orderer.yaml
!national-health-record-ledger/config/configtx.yaml

# Wallet & Identity
national-health-record-ledger/off-chain/api-gateway/wallet/
*.id
*.pem
*.key

# Environment Variables
.env
.env.*
!.env.example
